<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research stuff</title>
    <link href="{{ url_for('static', filename='../style.css') }}" />
    <style type="text/css">
        #container {
            display: grid;
            grid-template-columns: 700px 500px;
            grid-template-rows: 500px;
            grid-column-gap: 10px;
        }

        form {
            display: grid;
            grid-template-columns: 150px 150px 150px;
            grid-template-rows: 200px 200px 100px;
            grid-row-gap: 40px;
            grid-column-gap: 10px;
        }

        #note {
            margin-top: 1500px;
        }

        #eqs {
            margin-top: 100px;
            display: grid;
            grid-template-rows: 100px 100px 100px 100px;
            grid-template-columns: 110px 110px 110px 110px;   
            grid-row-gap: 30px;
            grid-column-gap: 30px;
        }

        .func_btn {
            border: 10px black solid;
            width: fit-content;
        }
        
        .chosen {
            background-color: yellow;
            opacity: 70%;
        }

    </style>
</head>

<body>
    <div id="container">
        <div class="content">



            <h2> The main thing !</h2>

            <img src="/plot.png">
            <!-- <img src="/plot_rt.png">
            <img src="/plot_it.png"> -->


            <h2>Squeeze factor (r): {{r}}</h2>
            <h2>Central Environment Frequency (&Omega;): {{W}}</h2>
            <h2>Environment Decay Rate (&gamma;): {{g}}</h2>
            <h2>Coupling factor (&Gamma;): {{G}}</h2>
            <h2>System Frequency (&omega;): {{w}}</h2>
            <h2>Function show: {{func_i}}</h2>
        </div>


        <div class="content">
            <form method="post" action="{{url_for('update')}}">
                <div>
                    <label for="g">Environment Decay rate (&gamma;)</label>
                    <input type="text" id="g" name="g" value={{g}}>
                </div>
                <div>
                    <label for="W">Central Environment Frequency (&Omega;)</label>
                    <input type="text" id="W" name="W" value={{W}}>
                </div>
                <div>
                    <label for="r">Squeeze factor (r)</label>
                    <input type="text" id="r" name="r" value={{r}}>
                </div>
                <div>
                    <label for="G">Coupling factor (&Gamma;)</label>
                    <input type="text" id="G" name="G" value={{G}}>
                </div>
                <div>
                    <label for="w">System Frequency (&omega;)</label>
                    <input type="text" id="w" name="w" value={{w}}>
                </div>
                <div>
                    <label for="tmin">Min time value (must be less than max)</label>
                    <input type="text" name="tmin" id="tmin" value={{tmin}}>
                    <label for="tmin">Max time value (must be greater than min)</label>
                    <input type="text" name="tmax" id="tmax" value={{tmax}}>
                    <label for="steps">Number of steps between range (100 - 10000)</label>
                    <input type="text" name="trang" id="trang" value={{steps}}>
                    <br>
                </div>
                <div>
                    <label for="func_i">Function index value [0-15] </label>
                    <input type="range" min="0" max="15" value={{func_i}} name="func_i" id="func_i"></input>
                    <h5>Set at {{func_i}}</h5>
                    <h5>Set at {{func_i}} | New value: </h5>
                    <p id="func_inew">{{func_i}}</p>
                    <br>
                </div>

                <button type="submit">Load</button>
                <!-- add new value using js -->

            </form>
            <div id="eqs">
                <div class="func_btn chosen" id="f0">
                    <h2>&part;<sub>t</sub>F<sup>&alpha;</sup><sub>z1</sub></h2>
                </div>
                <div class="func_btn" id="f1">
                    <h2>&part;<sub>t</sub>F<sup>&alpha;</sup><sub>z2</sub></h2>
                </div>
                <div class="func_btn" id="f2">
                    <h2>&part;<sub>t</sub>F<sup>&beta;</sup><sub>&omega;1</sub></h2>
    
                </div>
                <div class="func_btn" id="f3">
                    <h2>&part;<sub>t</sub>F<sup>&beta;</sup><sub>&omega;2</sub></h2>
    
                </div>
                <div class="func_btn" id="f4">
                    <h2>&part;<sub>t</sub>J<sup>&tilde;</sup><sup>&alpha; &alpha;</sup><sub>z1</sub></h2>
    
                </div>
                <div class="func_btn" id="f5">
                    <h2>&part;<sub>t</sub>J<sup>&tilde;</sup><sup>&alpha; &beta;</sup><sub>z2</sub></h2>
    
                </div>
                <div class="func_btn" id="f6">
                    <h2>&part;<sub>t</sub>J<sup>&tilde;</sup><sup>&beta; &alpha;</sup><sub>&omega;1</sub></h2>
    
                </div>
                <div class="func_btn" id="f7">
                    <h2>&part;<sub>t</sub>J<sup>&tilde;</sup><sup>&beta; &beta;</sup><sub>&omega;2</sub></h2>
    
                </div>
                <div class="func_btn" id="f8">
                    <h2>&part;<sub>t</sub>J<sup>&tilde;</sup><sup>&alpha; &gamma;</sup><sub>z1</sub></h2>
    
                </div>
                <div class="func_btn" id="f9">
                    <h2>&part;<sub>t</sub>J<sup>&tilde;</sup><sup>&alpha; &epsilon;</sup><sub>z2</sub></h2>
    
                </div>
                <div class="func_btn" id="f10">
                    <h2>&part;<sub>t</sub>J<sup>&tilde;</sup><sup>&beta; &gamma;</sup><sub>&omega;1</sub></h2>
    
                </div>
                <div class="func_btn" id="f11">
                    <h2>&part;<sub>t</sub>J<sup>&tilde;</sup><sup>&beta; &epsilon;</sup><sub>&omega;2</sub></h2>
    
                </div>
                <div class="func_btn" id="f12">
                    <h2>&part;<sub>t</sub>F<sup>&gamma;</sup><sub>z1</sub></h2>
    
                </div>
                <div class="func_btn" id="f13">
                    <h2>&part;<sub>t</sub>F<sup>&gamma;</sup><sub>z2</sub></h2>
    
                </div>
                <div class="func_btn" id="f14">
                    <h2>&part;<sub>t</sub>F<sup>&epsilon;</sup><sub>&omega;1</sub></h2>
    
                </div>
                <div class="func_btn" id="f15">
                    <h2>&part;<sub>t</sub>F<sup>&epsilon;</sup><sub>&omega;2</sub></h2>
    
                </div>
    
        </div>
        </div>
    </div>

    



    <h1 id='note'>NOTE FROM DEV: Due to the youth of this site, many feautures many be janky, if you see that your new
        graph query does not update try querying for it again! You may have querried before your changes could be fully
        loaded, or other small issues. Make sure to vocalize any issues ran into!</h1>
    <script type="text/javascript">
        let inputs = document.querySelectorAll('input')

        const update_val = (id) => {
            let rangeObj = document.getElementById(id);
            let val = parseInt(rangeObj.value);
            let ref = document.getElementById(id + "new");

            document.querySelector(".chosen").classList.remove("chosen")
            let newRef = document.getElementById("f" + rangeObj.value);
            newRef.classList.add("chosen")
            ref.innerHTML = newRef.innerHTML;



        }





        // document.getElementById('g').oninput = (e) => {
        //     e.preventDefault();
        //     update_val('g');
        // }
        // document.getElementById('w').oninput = (e) => {
        //     e.preventDefault();
        //     update_val('w');
        // }
        // document.getElementById('r').oninput = (e) => {
        //     e.preventDefault();
        //     update_val('r');
        // }
        document.getElementById('func_i').oninput = (e) => {
            e.preventDefault();
            update_val('func_i');

        }
        // document.getElementById('W').oninput = (e) => {
        //     e.preventDefault();
        //     update_val('W');
        // }
        // document.getElementById('G').oninput = (e) => {
        //     e.preventDefault();
        //     update_val('G');
        // }



    </script>

</body>

</html>